body {
    font-family: PT Serif, serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
    padding: 12px 0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fe5c5c;
}

.logo img {
    height: 35px;
    margin-right: 15px;
}

.logo h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

.search-input {
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    width: 150px;
    font-family: PT Serif, serif;
}

.search-button {
    background-color: #ff5757;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button svg {
    width: 18px;
    height: 18px;
}

.search-button:hover {
    background-color: #f05050;
}

.actions {
    display: flex;
    align-items: center;
}

.rent-house,
.language,
.sign-in {
    text-decoration: none;
    color: #ff5757;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    padding: 9px 12px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    font-family: PT Serif, serif;
}

.sign-in {
    background-color: #ff5757;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sign-in svg {
    width: 17px;
    height: 17px;
    margin-left: 5px;
}

.sign-in:hover {
    background-color: #f05050;
}

.filters {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: PT Serif, serif;
}

.filter-button {
    background-color: #ff5757;
    color: inherit;
    border: none;
    padding: 14px 25px;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}

.filter-button svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.filter-button:hover {
    background-color: #f05050;
}

/* Responsive Design (Optional) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .actions {
        margin-top: 10px;
    }
}
